.MuiIconButton-root-74 {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiIconButton-root-74:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.MuiIconButton-root-74.MuiIconButton-disabled-78 {
    color: rgba(0, 0, 0, 0.26);
}

@media (hover: none) {
    .MuiIconButton-root-74:hover {
        background-color: transparent;
    }
}

.MuiIconButton-root-74:hover.MuiIconButton-disabled-78 {
    background-color: transparent;
}

.MuiIconButton-colorInherit-75 {
    color: inherit;
}

.MuiIconButton-colorPrimary-76 {
    color: rgba(17, 110, 215, 0.98);
}

.MuiIconButton-colorPrimary-76:hover {
    background-color: rgba(17, 110, 215, 0.08);
}

@media (hover: none) {
    .MuiIconButton-colorPrimary-76:hover {
        background-color: transparent;
    }
}

.MuiIconButton-colorSecondary-77 {
    color: #0044ff;
}

.MuiIconButton-colorSecondary-77:hover {
    background-color: rgba(0, 68, 255, 0.08);
}

@media (hover: none) {
    .MuiIconButton-colorSecondary-77:hover {
        background-color: transparent;
    }
}

.MuiIconButton-label-79 {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}