.overlay-nearby-users {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3ba5df;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-nearby-users a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.overlay-nearby-users a:hover, .overlay-nearby-users a:focus {
  color: #f1f1f1;
}

.overlay-nearby-users .closebtn {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 25px;
  z-index: 10;
}

@media screen and (max-height: 450px) {
  .overlay-nearby-users {overflow-y: auto;}
  .overlay-nearby-users a {font-size: 20px}
  .overlay-nearby-users .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

