.gm-style-cc {
    display: none;
}

div[style='margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;'] {
    display: none;
}

.pac-container {
    background-color: #fff;
    position: absolute!important;
    z-index: 2;
    border-radius: 0px 0px 16px 16px;
    border-top: 0px solid #d9d9d9;
    margin-top: 1px;
    font-family: Arial,sans-serif;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.pac-logo:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 0px;
    box-sizing: border-box;
    text-align: right;
    display: block;
    background-image: url();
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px 14px;
}

.hdpi.pac-logo:after {
    background-image: url();
}

.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 34px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 17px;
    color: #999;
}

.pac-item-query {
    font-size: 17px;
    padding-right: 3px;
    color: #000;
}