body {
    background: #4bb5ef;
  }
  
  @-webkit-keyframes loader {
    0% {
      width: 0;
    }
    20% {
      width: 10%;
    }
    25% {
      width: 24%;
    }
    43% {
      width: 41%;
    }
    56% {
      width: 50%;
    }
    66% {
      width: 52%;
    }
    71% {
      width: 60%;
    }
    75% {
      width: 76%;
    }
    94% {
      width: 86%;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes loader {
    0% {
      width: 0;
    }
    20% {
      width: 10%;
    }
    25% {
      width: 24%;
    }
    43% {
      width: 41%;
    }
    56% {
      width: 50%;
    }
    66% {
      width: 52%;
    }
    71% {
      width: 60%;
    }
    75% {
      width: 76%;
    }
    94% {
      width: 86%;
    }
    100% {
      width: 100%;
    }
  }
  .progress-bar {
    border-radius: 60px;
    overflow: hidden;
    width: 100%;
  }
  .progress-bar span {
    display: block;
  }
  
  .bar {
    background: rgba(0, 0, 0, 0.075);
  }
  
  .progress {
    -webkit-animation: loader 8s ease infinite;
            animation: loader 8s ease infinite;
    background: #ffffff;
    color: #fff;
    padding: 5px;
    width: 0;
  }
  
  .progress-bar {
    left: 50%;
    max-width: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  