.form-control-plaintext-form-page-more {
    display: block;
    /* width: 22%; */
    /* padding-top: .375rem; */
    /* padding-bottom: .375rem; */
    margin-bottom: 5px;
    /* line-height: 1.5; */
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
    color: rgba(195, 195, 195, 0.64);
    font-size: initial;
}