.form-control-plaintext-recipe-review-card {
    display: block;
    /* width: 22%; */
    padding-top: .375rem;
    padding-bottom: .375rem;
    margin-bottom: 0;
    line-height: 1.5;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
    color: rgb(158, 158, 158);
    font-size: small;
}