.mm-navbars_top {
    --mm-color-background: #1D385A;
    border-bottom: none !important;
}
.mm-navbars_top {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    top: 0;
    bottom: auto;
}

.mm-navbars_bottom>.mm-navbar:not(.mm-navbar_has-btns), .mm-navbars_top>.mm-navbar:not(.mm-navbar_has-btns) {
    padding: 8px;
}

.mm-navbars_bottom>.mm-navbar, .mm-navbars_top>.mm-navbar {
    border-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.mm-navbar_size-2 {
    text-align: center;
    position: relative;
    border-bottom: none;
    display: block !important;
}

.mm-navbar {
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
}

.mm-navbar_size-2 {
    height: 88px;
    height: calc(var(--mm-navbar-size) * 2);
}

.mm-navbar {
    background: #f3f3f3;
    border-color: rgba(0,0,0,.1);
    color: rgba(0,0,0,.3);
    background: var(--mm-color-background);
    border-color: var(--mm-color-border);
    color: var(--mm-color-text-dimmed);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    display: none;
    height: 44px;
    height: var(--mm-navbar-size);
    padding: 0 44px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}

.mm-navbar_size-2:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
}

.mm-navbar_size-2 img {
    opacity: 0.8;
    border: 2px solid #fff;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    padding: 3px;
    margin: 40px 0px 8px 0px;
}
.mm-navbar_size-2 > * {
    display: inline-block;
    vertical-align: middle;
}

.mm-menu {
    --mm-line-height: 20px;
    --mm-listitem-size: 44px;
    --mm-navbar-size: 44px;
    --mm-offset-top: 0;
    --mm-offset-right: 0;
    --mm-offset-bottom: 0;
    --mm-offset-left: 0;
    --mm-color-border: rgba(0, 0, 0, 0.1);
    --mm-color-button: rgba(0, 0, 0, 0.3);
    --mm-color-text: rgba(0, 0, 0, 0.75);
    --mm-color-text-dimmed: rgba(0, 0, 0, 0.3);
    --mm-color-background: #f3f3f3;
    --mm-color-background-highlight: rgba(0, 0, 0, 0.05);
    --mm-color-background-emphasis: rgba(255, 255, 255, 0.4);
    --mm-shadow: 0 0 10px rgba( 0,0,0, 0.3 );
}

.mm-menu_navbar_top-4 .mm-panels {
    top: 176px;
    top: calc(var(--mm-navbar-size) * 4);
}

.mm-panels {
    overflow: hidden;
}

.mm-panels, .mm-panels>.mm-panel {
    /* position: absolute; */
    left: 0;
    right: 0;
    top: 24%;
    bottom: 0;
    z-index: 0;
}

.mm-menu_fx-panels-slide-up .mm-panel_opened, .mm-menu_fx-panels-slide-up .mm-panel_opened-parent, .mm-panel_fx-slide-up.mm-panel_opened {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.mm-menu_fx-panels-slide-up .mm-panel, .mm-panel_fx-slide-up {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.mm-panel:not(.mm-hidden) {
    display: block;
}

.mm-panel:after, .mm-panel:before {
    content: '';
    display: block;
    height: 20px;
}

.mm-navbar {
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
}

.mm-navbar {
    background: #f3f3f3;
    border-color: rgba(0,0,0,.1);
    color: rgba(0,0,0,.3);
    background: var(--mm-color-background);
    border-color: var(--mm-color-border);
    color: var(--mm-color-text-dimmed);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    display: none;
    height: 44px;
    height: var(--mm-navbar-size);
    padding: 0 44px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}

/* .mm-navbar a, .mm-navbar a:hover {
    text-decoration: none;
}

.mm-menu a, .mm-menu a:active, .mm-menu a:hover, .mm-menu a:link, .mm-menu a:visited {
    color: inherit;
    text-decoration: none;
} */

.mm-navbar__title {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mm-panels > .mm-panel > .mm-listview {
    margin-top: 10px !important;
}

.mm-panels>.mm-panel>.mm-listview {
    margin: 20px -20px;
}

.mm-listview {
    font-size: 16px;
}

.mm-listitem, .mm-listview {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.mm-wrapper_opening .mm-menu_fx-listitems-drop .mm-panel_opened .mm-listitem {
    opacity: 1;
    top: 0;
}

[class*=mm-menu_fx-listitems-] .mm-listitem:nth-child(1) {
    -webkit-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}

.mm-menu_fx-listitems-drop .mm-listitem {
    -webkit-transition-property: opacity,top;
    -o-transition-property: opacity,top;
    transition-property: opacity,top;
    opacity: 0;
    top: -25%;
}

[class*=mm-menu_fx-listitems-] .mm-listitem {
    -webkit-transition: none .4s ease;
    -o-transition: none .4s ease;
    transition: none .4s ease;
}

.mm-listitem {
    color: rgba(0,0,0,.75);
    color: var(--mm-color-text);
    border-color: rgba(0,0,0,.1);
    border-color: rgba(183, 225, 249, 0.55);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.mm-listitem, .mm-listview {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.mm-panel:after, .mm-panel:before {
    content: '';
    display: block;
    height: 20px;
}
.mm-panels > .mm-panel:after {
    content: none;
    display: none;
}
.mm-panel:after, .mm-panel:before {
    content: '';
    display: block;
    height: 20px;
}

.mm-menu a, .mm-menu a:active, .mm-menu a:hover, .mm-menu a:link, .mm-menu a:visited {
    color: inherit;
    text-decoration: none;
}

.mm-listitem a, .mm-listitem span {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    /* padding-right: 20px !important; */
}
.mm-listitem a, .mm-listitem a:hover {
    text-decoration: none;
}
.mm-listitem__text {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
}
.mm-listitem__btn, .mm-listitem__text {
    color: inherit;
    display: block;
    padding-top: 12px;
    padding-top: calc((var(--mm-listitem-size) - var(--mm-line-height))/ 2);
    padding-bottom: 12px;
    padding-bottom: calc((var(--mm-listitem-size) - var(--mm-line-height))/ 2);
}

.mm-menu_border-offset .mm-listitem:after, .mm-panel_border-offset .mm-listitem:after {
    right: 20px;
}
.mm-listitem:after {
    content: '';
    border-color: inherit;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
}

.mm-wrapper_opening .mm-menu_fx-listitems-drop .mm-panel_opened .mm-listitem {
    opacity: 1;
    top: 0;
}

.mm-panel {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 0 20px;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease,-webkit-transform .4s ease;
}

.mm-panel, .mm-panels {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f3f3f3;
    border-color: rgba(0,0,0,.1);
    color: rgba(0,0,0,.75);
    background: var(--mm-color-background);
    border-color: var(--mm-color-border);
    color: var(--mm-color-text);
}

.mm-menu_fx-panels-slide-up .mm-panel_opened, .mm-menu_fx-panels-slide-up .mm-panel_opened-parent, .mm-panel_fx-slide-up.mm-panel_opened {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.mm-menu_fx-panels-slide-up .mm-panel, .mm-panel_fx-slide-up {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}